.catalog-bags {
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    padding: 80px 0 80px 0;
}

.catalog-bags__page-container {
    padding: 0 24px;
}

.catalog-bags__section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog-bags__title-text {
    color: var(--catalog-bags-title-text);
    font-size: 38px;
    font-family: var(--title-font-family);
    padding-bottom: 40px;
}

.catalog-bags__element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
    width: 100%;
    height: 100%;
    min-width: 272px;

    .catalog-bags__element-image {
        width: 100%;
        height: 100%;
        min-width: 272px;
        min-height: 230.16px;
        height: 80dvi;

        .catalog-bags__image-holders{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
}

.catalog-bags__element-name {
    margin-top: 24px;
}

.catalog-bags__element-text {
    font-size: 18px;
    font-style: italic;
    font-family: var(--text-font-family);
    color: var(--catalog-bags-element-text);
    margin: 0;
}

.catalog-bags__container-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.catalog-bags__button-see {
    padding-bottom: 20px;
}

.catalog-bags__transparent-button,
.catalog-bags__red-button {
    font-family: var(--title-font-family);
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}

.catalog-bags__transparent-button {
    width: 179.48px;
    height: 39px;
    background-color: transparent;
    border: 2px solid var(--catalog-notebooks-left-button-border);
    color: var(--catalog-bags-left-button-text);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color .3s, color .3s;
}

.catalog-bags__transparent-button:active {
    background-color: var(--catalog-notebooks-left-button-background-hover);
    color: var(--catalog-notebooks-left-button-text-hover);
}

.catalog-bags__transparent-button:hover {
    background-color: var(--catalog-notebooks-right-button-background);
}

.catalog-bags__red-button {
    width: 121.21px;
    height: 39px;
    background-color: var(--catalog-notebooks-right-button-background);
    border: none;
    color: var(--catalog-notebooks-right-button-text);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color .3s, color .3s;
}

.catalog-bags__red-button:active {
    background-color: var(--catalog-notebooks-right-button-text-hover);
    color: var(--catalog-notebooks-right-button-background-hover);
}

.catalog-bags__red-button:hover {
    background-color: var(--catalog-notebooks-right-button-text-hover);
    color: var(--catalog-notebooks-right-button-background-hover);
}

@media (min-width: 480px) {
    .catalog-bags__title-text {
        font-size: 44px;
    }

    .catalog-bags__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 10px;
    }

    .catalog-bags__element:nth-child(1) {
        grid-column: 1;
    }

    .catalog-bags__element:nth-child(2) {
        grid-column: 2;
    }

    .catalog-bags__element:nth-child(3) {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
    }

    .catalog-bags__element {
        padding: 0 10px;
        min-width: 201px;
        min-height: 218.16px;

        .catalog-bags__element-image {
            min-width: 201px;
            min-height: 170.09px;
            height: 40dvi;
        }
    }

    .bottom-element {
        width: 46.22dvi;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: center;
    }

    .catalog-bags__container-button {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 20px;
        padding-top: 40px;
    }

    .catalog-bags__button-see {
        padding-bottom: 0;
    }
}


@media (min-width: 992px) {
    .catalog-bags__title-text {
        font-size: 50px;
    }

    .catalog-bags__container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .catalog-bags__element {
        padding: 0 10px;
        min-width: 283.99px;
        min-height: 298.39px;

        .catalog-bags__element-image {
            min-width: 283.99px;
            min-height: 240.31px;
            height: 25dvi;
            width: 30dvi;
            max-width: 370px;
            max-height: 313.09px;
        }
    }

    .catalog-bags__element {
        padding: 0 15px;
    }

    .bottom-element {
        padding: 0;
        margin: 0 20px 48px;
        width: 92dvi;
    }
}

@media (min-width: 1253px) {
    .catalog-bags__container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 1253px;
        margin: 0 auto;
    }

    .catalog-bags__element {
        flex: 1 1 33%;
        max-width: 400px;
        margin: 0 10px;
    }
}