/* Full partial */
.write-us {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 90px 24px 90px 24px;
  background-image: url("../img/people/man-standing-1.jpeg");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: var(--contacts-page-min-width);
  max-width: var(--contacts-page-max-width);
}

/* Main block */
.write-us__container {
  display: flex;
  flex: 1;
  min-width: var(--contacts-block-min-width);
  max-width: var(--contacts-block-max-width);
}

/* Right block */
.write-us__form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-color: var(--contacts-write-us-form-background);
  padding: 35px 40px 35px 40px;
  .form-header {
    .header-text {
      font-family: "Saira", sans-serif;
      font-size: 38px;
      font-weight: 335;
      letter-spacing: calc(-0.03 * 1em);
      line-height: 1.1;
      color: var(--contacts-write-us-form-title);
      text-align: center;
      margin-bottom: 35px;
    }
  }
  .form-form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
    .form-item {
      flex: 1;
      text-align: left;
      background-color: var(--contacts-write-us-form-item-back);
      color: var(--contacts-write-us-form-item-text);
      font-family: var(--text-font-family);
      border: none;
      font-size: 14px;
      text-decoration: none;
      border-radius: 20px;
      line-height: 150%;
      padding: 10px 20px;
    }
    .form-input {
      text-align: left;
      background-color: var(--contacts-write-us-form-item-back);
      color: var(--contacts-write-us-form-item-text);
      font-family: var(--text-font-family);
      border: none;
      font-size: 14px;
      text-decoration: none;
      border-radius: 20px;
      height: 150px;
      resize: vertical;
      padding: 10px 20px;
    }
  }
  .form-button {
    display: flex;
    margin-top: 57px;
    width: 100%;
    .button {
      flex: 1;
      background-color: var(--contacts-write-us-form-button-back);
      color: var(--contacts-write-us-form-button-text);
      font-family: var(--text-font-family);
      border: none;
      padding: 10px 20px;
      font-size: 14px;
      text-decoration: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .button:hover {
      background-color: var(--contacts-write-us-form-button-hover);
      color: var(--contacts-write-us-form-button-text);
    }
  }
}

@media (min-width: 768px) {
  .write-us {
    flex-direction: row;
    padding: 95px 32px 95px 32px;

    /* Left block */
    .write-us__left {
      flex: 50%;
      margin-right: 36px;
    }
    .write-us__form {
      padding: 41px 50px 41px 50px;
      flex: 50%;
      .form-header {
        .header-text {
          margin-bottom: 60px;
          font-size: 44px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .write-us {
    padding: 100px 40px 100px 40px;
    .write-us__form {
      padding: 50px 80px 50px 80px;
      .form-header {
        .header-text {
          margin-bottom: 57px;
          font-size: 50px;
        }
      }
    }
  }
}
