:root {
  --custom-orders-galery-background: #ebebeb;
  --custom-orders-gallery-heading: rgb(33, 32, 32);
  --custom-orders-gallery-button: #b8b8b8;
  --custom-orders-gallery-button-hover: black;
}

.gallery-custom-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 10px;
  background-color: var(--custom-orders-galery-background);
  font-family: "Saira", sans-serif;
  width: 100%;
  padding-bottom: 10px;
}

.gallary__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  position: relative;
}

.gallery__heading-wrapper {
  margin: 30px 0;
}

.gallery__heading {
  color: var(--custom-orders-gallery-heading);
  font-weight: 400;
  letter-spacing: -1.5px;
  font-size: 30px;
  line-height: 35px;
}

.gallery__carusel {
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth ;
  white-space: nowrap;
}

.gallery__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.gallery__image {
  width: 70%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.gallery__choose-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.gallery__choose-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__choose-buttons_button {
  background-color: var(--custom-orders-gallery-button);
  border-radius: 50%;
  border: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.gallery__choose-buttons_click-zone {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.gallery__choose-buttons_click-zone:hover .gallery__choose-buttons_button {
  background-color: var(--custom-orders-gallery-button-hover);
}

.gallery-button-active,
.gallery-button-active:hover {
  .gallery__choose-buttons_button {
    background-color: #545353;
  }
}

.gallery__arrow-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: calc(50% + 5px);
}

.gallery__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
}

.gallery__arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.gallery__arrow-prev-button {
  transform: rotateY(180deg);
}

.arrow-svg_1j4 {
  width: 20px;
}

.gallery-disabled {
  pointer-events: none;
}

@media screen and (min-width: 560px) {
  .gallary__inner-content {
    width: 90%;
  }
  .gallery__image {
    width: 85%;
  }

  .gallery__heading {
    font-size: 50px;
    line-height: 55px;
  }
  .gallery__arrow {
    width: 40px;
  }

  .arrow-svg_1j4 {
    width: 30px;
  }
  .gallery__arrow-buttons {
    top: calc(50% + 7.5px);
  }
}
