.shopping-cart-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--shopping-cart-dark);
  font-family: var(--text-font-family);
  font-size: 14px;
}
.shopping-cart__content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.shopping-cart {
  width: 100%;
  padding: 10px;
  max-width: 500px;
  background-color: var(--shopping-cart-background);
  margin: 50px 0 50px 0;
  z-index: 3;
}
.shopping-cart__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.shopping-cart__h2 {
  font-size: 17px;
  font-weight: 400;
}
.shopping-cart__svg-close {
  cursor: pointer;
}
.shopping-cart__products {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.shopping-cart__products-heading,
.shopping-cart__place-an-order {
  font-size: 14px;
  font-weight: 700;
  color: var(--shopping-cart-text);
  padding-top: 20px;
}
.shopping-cart__promo-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.shopping-cart__promo-button {
  border: none;
  background-color: var(--shopping-cart-button);
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}
.shopping-cart__total {
  color: var(--shopping-cart-text);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  text-align: end;
}
.shopping-cart__total-width-auto {
  width: auto;
}
.shopping-cart__promo-form {
  width: 100%;
  text-align: center;
  padding: 0 20px;
  position: relative;
}
.shopping-cart__promo-form-input,
.shopping-cart__promo-form-button {
  border-width: 0.8px;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 16px;
  height: 36px;
  position: relative;
}
.shopping-cart__promo-form p {
  position: absolute;
  bottom: -41px;
  left: 58px;
  color: var(--shopping-cart-accent);
  font-size: 14px;
}
.shopping-cart__promo-form-button {
  cursor: pointer;
}
.shopping-cart__promo-form-input {
  width: 70%;
}
.shopping-cart__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.shopping-cart__form label {
  width: 100%;
  text-align: start;
}
.shopping-cart__form label span {
  color: var(--shopping-cart-accent);
}
.shopping-cart__form-input {
  width: 90%;
  background-color: var(--shopping-cart-form-background);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  height: 42px;
  padding-left: 30px;
}
.shopping-cart__form-input:focus {
  border: 2px solid var(--shopping-cart-form-outline);
}
.shopping-cart__form-textarea {
  height: 114px;
  resize: none;
  padding-top: 14px;
}
.shopping-cart__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--shopping-cart-accent);
  color: var(--shopping-cart-button);
  width: 100px;
  height: 48px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
}
.shopping-cart__form-button:hover {
  background-color: var(--shopping-cart-hover);
}
.shopping-cart__empty_cart,
.shopping-cart__success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  height: 250px;
  background-color: var(--shopping-cart-background);
  margin-bottom: 50px;
}
.shopping-cart__empty_cart p:first-of-type,
.shopping-cart__success p:first-of-type {
  text-align: center;
  font-size: 18px;
}
.shopping-cart__empty_cart p:last-of-type,
.shopping-cart__success p:last-of-type {
  text-align: center;
  font-size: 16px;
  color: var(--shopping-cart-text);
}
.shopping-cart__icon-wrapper {
  position: relative;
  background-color: var(--shopping-cart-icon-background-color);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  margin: 50px 20px 0 0;
  z-index: 0;
}
.shopping-cart__icon-svg {
  stroke: var(--shopping-cart-icon-stroke);
  margin: 11px 0 0 13.75px;
}
.shopping-cart__icon-counter {
  position: absolute;
  border-radius: 100%;
  color: var(--shopping-cart-button);
  font-family: var(--text-font-family);
  background-color: var(--shopping-cart-icon-counter);
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  top: 0;
  right: 0;
}

.shopping-cart__none {
  display: none;
}
.shopping-cart__overflow_hidden {
  overflow: hidden;
}
.shopping-cart__height {
  height: 100vh;
  overflow-y: scroll;
}

.shopping-cart__holder {
  display: flex;
  justify-content: end;
  position: relative;
  width: 100%;
  height: 0;
  max-width: 1170px;
  margin: auto;
}
.shopping-cart__products-list {
  list-style: none;
  padding: 0;
}
.shopping-cart__products-list li {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 10px;
}
.shopping-cart__products-list li::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: var(--shopping-cart-form-background);
  height: 2px;
  width: 100%;
}
.shopping-cart__products-list li h4 {
  width: 80%;
  height: fit-content;
  margin: 0 0 0 50px;
}
.shopping-cart__products-list li p {
  font-size: 15px;
  position: absolute;
  left: 50px;
  top: 20px;
  width: 100%;
  margin: 0;
}
.shopping-cart__product-image {
  position: absolute;
  top: 10px;
  max-width: 50px;
}
.shopping-cart__input-number {
  max-width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 0 10px;
  margin: 25px 0 15px 50px;
  background-color: var(--shopping-cart-form-background);
  position: relative;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  display: block;
}

.shopping-cart__product-list_basket-svg {
  position: absolute;
  right: 10px;
  top: calc(50% - 15px);
  cursor: pointer;
}
.validation-failed {
  border: solid;
  border-color: var(--shopping-cart-accent);
  border-width: 3px;
  outline: none;
}
@media (min-width: 640px) {
  .shopping-cart__icon-wrapper {
    z-index: 4;
  }
}
@media (min-width: 991px) {
  .shopping-cart__icon-wrapper {
    width: 80px;
    height: 80px;
  }
  .shopping-cart__icon-svg {
    width: 36px;
    height: 45px;
    margin: 17.6px 0 0 22px;
  }
  .shopping-cart__icon-counter {
    font-size: 16px;
    width: 23px;
    height: 23px;
  }
  .shopping-cart__empty_cart p:first-of-type,
  .shopping-cart__success p:first-of-type {
    font-size: 25px;
  }
  .shopping-cart__empty_cart p:last-of-type,
  .shopping-cart__success p:last-of-type {
    font-size: 18px;
  }
}
