@media (max-width: 750px) {
  .custom-orders-background {
    background-image: url(../img/custom-orders/castom-orders.jpeg);
    background-size: cover;
    background-position: left;
    min-height: 450px;
    max-width: 750px;
  }

  .custom-orders__container {
    padding: 80px 0px 90px 25px;
    max-width: 490px;
    width: 90%;
  }

  .custom-orders__title h3 {
    font-family: --title-font-family;
    font-size: 36px;
    color: --products-text-color;
    margin-bottom: 50px;
  }

  .custom-orders__content p {
    font-family: --text-font-family;
    font-size: 16px;
    color: #595452;
  }
}

@media (min-width: 750px) {
  .custom-orders-background {
    background-image: url(../img/custom-orders/castom-orders.jpeg);
    background-size: cover;
    background-position: left;
    height: 668px;
  }

  .custom-orders__container {
    padding: 80px 0px 90px 350px;
    max-width: 700px;
    width: 90%;
  }

  .custom-orders__title h3 {
    font-family: --title-font-family;
    font-size: 50px;
    color: --products-text-color;
    margin-bottom: 50px;
  }

  .custom-orders__content p {
    font-family: --text-font-family;
    font-size: 16px;
    color: #595452;
  }

}