.footer__container{
  background-color:#212020;
}
.footer__title{
    color: color(srgb 0.9999 1 1);
    display:inline;
    font:inherit;
    font-size: 24px;
}
.footer__text{
    color: color(srgb 0.9999 1 1);
}
a{
    color: color(srgb 0.9999 1 1);
}
h2{
    color: color(srgb 0.9999 1 1);
}
.footer__bottom-rights-container{
    color: color(srgb 0.9999 1 1);
}
.footer__bottom-credentials-container{
    color: color(srgb 0.9999 1 1);
}