.personal-order {
    position: relative;
    color: var(--notebooks-general-text);
    padding: 100px 0;
    background-image: url('../img/personal-order/background-image.webp');
    background-size: cover;
    background-position: 70% 70%;
    transition: background-position .5s ease;
}

.personal-order__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    height: 752px;
    margin: 20px;
    background-color: var(--personal-order-background-form);
}

.personal-order__title-block {
    text-align: center;
    margin-bottom: 40px;
}

.notebooks-page__form {
    display: none;
    font-size: 38px;
    font-family: var(--title-font-family);
    font-weight: normal;
    color: var(--personal-order-title-text);
    padding-top: 10px;
    margin: 0 15px;
}

.personal-order__title-text {
    font-size: 38px;
    font-family: var(--title-font-family);
    font-weight: normal;
    color: var(--personal-order-title-text);
    padding-top: 10px;
    margin: 0 15px;
}

.personal-order__text-block {
    text-align: center;
    margin-bottom: 10px;
}

.personal-order__paragraph-text {
    color: var(--personal-order-subtitle-text);
    margin: 0 15px;
    font-size: 15px;
    font-family: var(--text-font-family);
    padding-bottom: 20px;
}

.personal-order__form-container input,
.personal-order__form-container textarea {
    min-width: 250px;
    max-height: 37.8px;
    border: none;
    background-color: var(--personal-order-form-block);
    color: var(--personal-order-form-text);
    border-radius: 25px;
    font-size: 12px;
    font-family: var(--text-font-family);
    padding: 13px 30px 12px;
    margin-bottom: 15px;
}

.personal-order__form-container textarea {
    min-height: 120px;
    max-height: 180px;
}

.personal-order__form-container input[type="submit"] {
    background-color: var(--personal-order-form-button-background);
    color: var(--personal-order-form-button-text);
    border-radius: 25px;
    font-size: 12px;
    font-family: var(--text-font-family);
    transition: background-color .3s ease;
    width: 250px;
    max-height: 35px;
    margin: 25px 0 12px 0;
    padding: 9px 95px 12px;
}

.personal-order__form-container input[type="submit"]:hover {
    background-color: var(--personal-order-form-button-hover);
}

@media (min-width: 400px) {
    .personal-order__container {
        height: 772px;
    }

    .personal-order__form-container input,
    .personal-order__form-container textarea {
        min-width: 300px;
    }

    .personal-order {
        background-position: 60% 60%;
        transition: background-position .5s ease;
    }
}

@media (min-width: 480px) {
    .personal-order__container {
        height: 800px;
    }

    .personal-order__form-container input,
    .personal-order__form-container textarea {
        min-width: 350px;
    }

    .personal-order {
        background-position: 57% 57%;
        transition: background-position .5s ease;
    }
}

@media (min-width: 550px) {
    .personal-order__container {
        margin: 0 auto;
        height: 800px;
    }

    .personal-order__form-container input,
    .personal-order__form-container textarea {
        min-width: 370px;
    }

    .personal-order {
        background-position: 55% 55%;
        transition: background-position .5s ease;
    }

    .personal-order__container {
        max-width: 509px;
    }

    .personal-order__form-container input[type="submit"] {
        margin: 35px 0 12px 0;
    }
}

@media (min-width:900px) {
    .personal-order {
        background-position: 50% 50%;
        transition: background-position .9s ease;
    }

    .personal-order__container {
        min-width: 570px;
        min-height: 875px;
        max-height: 875px;
        max-width: 570px;
        margin: 0 auto 0 250px;
    }

    .personal-order__title-text {
        font-size: 50px;
        margin: 0;
        padding-top: 20px;
    }

    .personal-order__text-block {
        text-align: center;
        margin-bottom: 20px;
    }

    .personal-order__paragraph-text {
        margin: 0;
    }

    .personal-order__form-container input,
    .personal-order__form-container textarea {
        min-width: 370px;
        max-height: 41.8px;
        font-size: 14px;
    }

    .personal-order__form-container textarea {
        width: 100%;
        min-height: 150px;
        max-height: 200px;
    }

    .personal-order__form-container input[type="submit"] {
        font-size: 14px;
        min-width: 370px;
        max-height: 39px;
        margin: 55px 0 12px 0;
        padding: 9px 145px 12px;
    }
}

@media (min-width: 1200px) {
    .personal-order__global {
        max-width: 1200px;
        margin: auto;
        padding: 0;
    }
}