.container {
    max-width: 1200px;
    padding: 0 24px;
    margin: auto;
}

.header {
    position: relative;
    z-index: 1;
}

.header__background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50.7% 0%;
    background-color: var(--header-nav-background);
}

.header__nav {
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    justify-content: space-between;
    padding: 30px 0;
    gap: 6px;
}

.header__logo-text {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    font-family: var(--title-font-family);
    font-size: 34px;
    font-weight: 300;
    color: var(--header-nav-text-logo);
    margin: 0 auto;
    position: relative;
    z-index: 121;
}

.header__nav-list {
    margin: 0 24px 0 24px;
}

.nav-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0;
    gap: 15px;
    padding-left: 0;
    list-style: none;
}

.nav-list__link a,
.menu__element-link {
    position: relative;
    display: inline-block;
    font-family: var(--text-font-family);
    font-size: 15px;
    color: var(--header-nav-text-menu);
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color .7s ease;
}

.menu__element-link:hover,
.dropdown:hover {
    color: var(--header-nav-element-link-hover);
}

.nav-list__link a:hover {
    color: var(--header-nav-list-link-hover);
}

.menu__element-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 6px;
    height: 6px;
    background-color: var(--header-nav-element-link-after);
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s ease;
}

.nav-item {
    position: relative;
}

.menu__element-link::after,
.nav-list__link a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 6px;
    height: 6px;
    background-color: var(--header-nav-list-link-after);
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s ease;
}

.menu__element-link:hover,
.menu__element-link.active {
    color: var(--header-nav-element-link-active);
}

.menu__element-link:hover::after,
.menu__element-link.active::after {
    opacity: 1;
}

.dropdown-menu .nav-list__link a {
    color: var(--header-nav-dropdown-menu);
}

.dropdown-menu .nav-list__link a:hover {
    color: var(--header-nav-dropdown-menu-hover);
}

.nav-item.dropdown:hover>.menu__element-link {
    color: var(--header-nav-dropdown-menu-element-link);
}

.nav-item.dropdown:hover .menu__element-link::after {
    opacity: 1;
}

.nav-item.dropdown:hover .dropdown-menu .nav-list__link a:hover {
    color: var(--header-nav-dropdown-menu-element-link-hover);
}

.header-svg__link svg path {
    transition: fill 0.3s ease;
}

.header-svg__link:hover svg path {
    fill: var(--header-nav-svg-hover);
}

.nav-item.dropdown .menu__item-triangle-ico_1My path {
    transition: fill 0.3s ease;
}

.nav-item.dropdown:hover .menu__item-triangle-ico_1My path {
    fill: var(--header-nav-svg-hover-dropdown);
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: transparent;
    z-index: 1000;
    opacity: 0;
    transform: translate(-39px, 0) !important;
    transition: opacity .3s ease, transform .3s ease;
    border: none !important;
    box-shadow: none !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown:hover~.link-bottom {
    margin-top: 50px;
}

.nav-list__link {
    margin-top: 0;
    transition: margin-top .3s ease;
}

.general-menu {
    padding-top: 10px;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
}

.header-svg__link {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.header-svg__link {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity .3s ease, transform .3s ease;
    list-style: none;
}

.general-menu {
    margin-left: 38px;
}

.nav-item.dropdown:hover .dropdown-menu,
.header-svg__link:hover+.dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.header-svg__link:hover+.dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.nav-item.dropdown:hover .dropdown-menu,
.header-svg__link:hover+.dropdown-menu {
    display: block;
}

.header__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu__item-triangle-ico_1My {
    width: 7.5px;
    height: 4.69;
    margin-left: 3px;
    transform: translateY(-2px);
}


.header__nav-menu {
    top: -100vh;
    transition: top .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 162px 0;
    gap: 30px;
    z-index: 1;
    background-color: var(--header-nav-background-burger);
    opacity: 1;
}

.header__menu-btn,
.wrapper-menu {
    display: block;
    width: auto;
    height: auto;
    padding: 5px 8px;
    margin-left: auto;
    cursor: pointer;
    transition: opacity .5s ease, background-color .3s ease;
    order: 3;
    color: var(--header-nav-background-burger-wrapper);
    border-radius: 5px;
    z-index: 121;
}

.wrapper-menu {
    width: 34px;
    height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
}

.line-menu {
    background-color: var(--header-nav-line-wrapper);
    border-radius: 5px;
    width: 100%;
    height: 3.5px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    transition: transform .4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform .4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
}

.header:not(.nav-visible) .header__nav-menu {
    top: -100vh;
    opacity: 0;
    z-index: 111;
}

.header.nav-visible .header__nav-menu {
    top: 0;
    box-shadow: 0 0 0 100vw transparent, 0 0 0 100vh transparent;
    height: 100vh;
    border-radius: 0;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    background-color: var(--header-nav-background-active);
    top: 0;
    opacity: 1;
}

@media (min-width: 768px) {
    .container {
        padding: 0 32px;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 0 40px;
    }

    .general-menu {
        padding-top: 5px;
    }

    .dropdown:hover~.link-bottom {
        margin-top: 0;
    }

    .wrapper-menu {
        display: none;
    }

    .header__nav {
        width: 100%;
    }

    .header:not(.nav-visible) .header__nav-menu {
        opacity: 1;
    }

    .header.nav-visible .line-menu.end {
        opacity: 1;
    }

    .header.nav-visible .open .line-menu.end {
        opacity: 1;
    }

    .header__nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        order: 2;
        gap: 8px;
        height: auto;
        background: none;
        padding: 0;
    }

    .nav-list {
        flex-direction: row;
        gap: 50px;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    .header__nav-logo {
        padding: 30px 15px;
    }

    .header__nav-menu {
        display: flex;
        justify-content: center;
    }

    .header__nav-list {
        padding: 10px 15px 50px 15px;
    }

    .general-menu {
        margin-left: 30px;
    }

}

@media (min-width: 1200px) {
    .header__nav {
        gap: 15px;
    }

    .header__nav-menu {
        order: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 0 15px;
    }
}