.custom-orders__title {
    font-family: --title-font-family;
    font-size: 38px;
    width: 100%;
    display: flex;
}

.custom-orders__content {
    font-family: --text-font-family;
    font-size: 15px;
    width: 100%;
    display: flex;
}

.custom-orders__image {
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(../img/custom-orders/castom-orders.jpeg);
        background-size: cover;
        background-position: center;
    min-width: 320px;
    display: flex;
    justify-content: center;
}