.footer__container {
  background-color: var(--global-footer-background);
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-around;
  padding: 150px;
  align-items: center;
  position: relative;
}

.footer__title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer__title {
  color: var(--collections-text);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Saira", sans-serif;
  font-weight: 400;
}
.footer__menu-container a {
  color: var(--collections-text);
  text-decoration: none;
  font-family: "Merriweather", serif;
}
.footer__menu-container a:hover {
  text-decoration: underline;
}
.footer__text {
  color: var(--collections-text);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 16px;
}

.footer__menu-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.footer__item-list {
  list-style: none;
  padding: 0;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  color: var(--collections-text);
  text-decoration: none;
  font-size: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__social-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-follow-us {
  color: var(--collections-text);
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "Saira", sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.footer__social-icons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__social-icons-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  column-gap: 5px;
}

.footer__social-icons-item {
  display: flex;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-icon {
  fill: var(--global-footer-icon);
  transition: all 0.3s ease;
}

.outer-circle {
  fill: none;
  stroke: var(--global-footer-icon);
  stroke-width: 1;
}

.social-icon-link:hover .social-icon {
  fill: var(--custom-orders-gallery-button-hover);
}

.social-icon-link:hover .outer-circle {
  stroke: var(--global-footer-icon);
  fill: var(--global-footer-icon);
}

.footer__bottom-credentials-container {
  color: var(--collections-text);
  font-size: 14px;
  position: absolute;
}

.footer__bottom-rights-container {
  color: var(--collections-text);
  font-size: 14px;
  position: absolute;
}
.footer__credits,
.footer__rights {
  font-size: 12px;
  font-family: Merriweather, serif;
}

@media (max-width: 800px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .footer__menu-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__social-container {
    margin-top: 20px;
  }

  .footer__bottom-credentials-container,
  .footer__bottom-rights-container {
    position: static;
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }

  .footer__bottom-credentials-container {
    order: 1;
  }

  .footer__bottom-rights-container {
    order: 2;
  }
}

.footer__item-list {
  flex-direction: column;
  align-items: center;
}
