.content-container {
    position: relative;
    background-image: url('../img/request-quote/request-quote.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--request-title-color);
    text-align: center;
    padding: 20px 10px; 
    font-family: var(--title-font-family);
    overflow: hidden;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 32, 32, 0.85); /* Чорне затемнення з прозорістю */
    z-index: 1;
}


.content-container * {
    position: relative;
    z-index: 2;
}


.headline {
    font-size: 30px; 
    margin-bottom: 10px;
    font-weight: 500;
}

.subheadline {
    font-size: 25px; 
    margin-bottom: 20px;
    font-weight: 500;
}


.quote-button { 
    background-color: var(--requets-button-color);
    color: var(--request-title-color);
    font-family: var(--text-font-family);
    border: none;
    padding: 8px 15px; 
    font-size: 12px; 
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.quote-button:hover {
    background-color: var(--request-title-color);
    color: var(--hover-button-color);
}


@media (min-width: 768px) {
    .content-container {
        padding: 50px 20px; 
        height: 393px; 
    }

    .headline {
        font-size: 45px; 
    }

    .subheadline {
        font-size: 35px; 
    }

    .quote-button {
        padding: 10px 20px; 
        font-size: 14px; 
    }
}
