.great-products__title-text {
    color: var(--great-products-text-title);
    font-size: 30px;
    font-family: var(--title-font-family);
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 38px;

}

.great-products__text-top,
.great-products__text-bottom {
    color: var(--great-products-text-description);
    font-family: var(--text-font-family);
}

.great-products__title {
    margin-right: 40px;
    margin-left: 30px;
}

.great-products__text-top {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
}

.great-products__text-bottom {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
}

.great-products__image-bag img {
    width: 100%;
    height: auto;
    margin: 0 20px 20px 20px;
}

@media (min-width: 768px) {
    .great-products__block {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .great-products__content {
        justify-content: center;
    }

    .great-products__image-bag {
        margin: -50px auto;
        transform: scale(0.6, 0.6);

    }

    .great-products__image {
        overflow: hidden;
    }

    .great-products__content {
        margin: auto 0;
    }
    
}

@media (min-width: 1024px) {
    .great-products__image-bag {
        position: relative;
    }
.great-products__block{
    max-height: 60vh;
}
}
@media (min-width: 1400px){
    .great-products__image-bag{
        position:relative;
        margin-top: -200px;
        transform: scale(0.4, 0.4);
        .great-products__content{
            position: relative;
            margin:auto;
        }
    }

}