.great-products__title-text {
    color: var(--great-products-text-title);
    font-size: 30px;
    font-family: var(--title-font-family);
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 38px;

}
.great-products{
    max-height: min-content;
    flex-basis: 100%;
}
.great-products__text-top,
.great-products__text-bottom {
    color: var(--great-products-text-description);
    font-family: var(--text-font-family);
}

.great-products__title {
    margin-right: 40px;
    margin-left: 30px;
}

.great-products__text-top {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
}

.great-products__text-bottom {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 15px;
}

.great-products__image-bag img {
    width: 100%;
    margin: 0 20px 20px 20px;
}

@media (min-width: 768px) {
    .great-products__block {
        grid-template-columns: 1fr 1fr;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .great-products__content {
        justify-content: center;
        margin-top: 30px;
        align-self: center;
    }

    }*/
    .great-products__image-bag{
    width: 100%;
    height: auto;
    }

@media (min-width: 1138px) {
    .great-products__image-bag {
        position: relative;
        margin-top: -80px;
        padding:80px 0 50px ;
    }

    .great-products__content {
        position: relative;
    }
}