.instagram {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--index-instagram-background);
  font-family: var(--title-font-family);
  padding: 40px 24px 90px 24px;
}

.instagram__header {
  align-items: center;
  width: 100%;
  min-width: var(--index-block-min-width);
  max-width: var(--index-block-max-width);

  .header-text-link {
    text-decoration: none;
  }

  .header-text {
    text-align: center;
    font-size: 38px;
    font-weight: 340;
    letter-spacing: calc(-0.029 * 1em);
    line-height: 1.1;
    color: var(--index-instagram-title);
    margin-bottom: 43px;
  }
}

.instagram__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  min-width: var(--index-block-min-width);
  max-width: var(--index-block-max-width);
  row-gap: 30px;
  .content-part {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .content-picture {
    width: 100%;
    max-width: 448.5px;
    .picture {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }
}
@media (min-width: 480px) {
  .instagram__content {
    row-gap: 30px;
    .content-part {
      flex-direction: row;
      column-gap: 30px;
    }
  }
}
@media (min-width: 768px) {
  .instagram {
    padding: 40px 32px 95px 32px;
  }

  .instagram__header {
    .header-text {
      font-size: 44px;
    }
  }
}

@media (min-width: 992px) {
  .instagram {
    padding: 40px 40px 100px 40px;
  }

  .instagram__header {
    .header-text {
      font-size: 50px;
    }
  }

  .instagram__content {
    flex-direction: row;
    column-gap: 30px;
  }
}