.awards {
    padding: 90px 0px;
}

.awards__section {
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
}

.awards__title {
    text-align: center;
    font-size: 38px;
    font-family: var(--title-font-family);
    color: var(--awards__titile)
}

.awards__description {
    text-align: center;
    font-size: 16px;
    font-family: var(--text-font-family);
    color: var(--awards__title)
}

.awards__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awards__item {
    max-width: auto;
    max-height: auto;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.awards__item-text {
    color: var(--awards__title);
    font-family: var(--title-font-family);
    font-size: 26px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.awards__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стилі для кнопки "Request a quote" */
.awards__button--request {
    background-color: var(--button__primary); /* Червоний фон */
    color: white; /* Білий текст */
    padding: 10px 20px; /* Внутрішні відступи */
    border: none; /* Без обрамлення */
    border-radius: 50px; /* Закруглені краї */
    font-family: var(--text-font-family); /* Шрифт */
    font-size: 14px; /* Розмір тексту */
    text-align: center; /* Вирівнювання тексту */
    text-decoration: none; /* Прибираємо підкреслення */
    cursor: pointer; /* Змінюємо курсор на "палець" */
    transition: background-color 0.3s ease; /* Плавна зміна кольору */
    display: inline-block; /* Вирівнювання по лінії */
    margin: 10px;
}

.awards__button--request:hover {
    background-color: var(--awards__title); /* Темніший червоний при наведенні */
}

/* Стилі для кнопки "Learn more" */
.awards__button--learn {
    background-color: white; /* Білий фон */
    color: var(--awards__title); /* Червоний текст */
    padding: 10px 20px; /* Внутрішні відступи */
    border: 2px solid var(--button__primary); /* Червона рамка */
    border-radius: 50px; /* Закруглені краї */
    font-family: var(--text-font-family); /* Шрифт */
    font-size: 14px; /* Розмір тексту */
    text-align: center; /* Вирівнювання тексту */
    text-decoration: none; /* Прибираємо підкреслення */
    cursor: pointer; /* Змінюємо курсор на "палець" */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавна зміна кольору */
    display: inline-block; /* Вирівнювання по лінії */
    margin: 10px
}

.awards__button--learn:hover {
    background-color: var(--button__primary); /* Червоний фон при наведенні */
    color: white; /* Білий текст при наведенні */
}

@media (min-width:480px) and (max-width:990px) {
    .awards__container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr); /* Два стовпці з однаковою шириною */
        grid-template-rows: repeat(2, auto); /* Два рядки з автоматичною висотою */
        gap: 20px; /* Відступи між елементами */
    }
}

@media (min-width:991px) {
    .awards__container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr); /* Два стовпці з однаковою шириною */
        grid-template-rows: repeat(1, auto); /* Два рядки з автоматичною висотою */
        gap: 5px;
    }
}

@media (min-width:380px) {
    .awards__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px
    }
}