.gift-packs {
    text-align: center;
    padding: 20px;
}

.gift-packs__title-container {
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}
.gift-packs__title{
  font-size:38px;
  font-family: var(--title-font-family);
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.giftpacks{
  display:grid;
  grid-template-columns: 100px 1fr 100px;
  min-height:300px;
}
.gift-packs-carousel__slides{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
}
.gift-packs-carousel__btn-next,
.gift-packs-carousel__btn-prev{
  border: none;
  background:none;
}
@media (min-width: 768px) {
  .gift-packs {
    padding: 40px;
  }

  .gift-packs__title {
    font-size: 2.5rem;
  }

  .carousel__item {
    min-width: 50%;
  }

  .carousel__button {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .gift-packs__title {
    font-size: 3rem;
  }

  .carousel__item {
    min-width: 25%;
  }

  .carousel__button {
    width: 60px;
    height: 60px;
  }
}