.why__us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/collections/collections-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--collections-text);
  padding: 80px 0 90px;
  overflow: hidden;
  min-height: auto;
  box-sizing: border-box;
  position: relative;
}

.why__us-title-container {
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.why__us-title {
  font-size: 50px;
  font-family: var(--title-font-family);
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.why__us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

.why__us-item {
  width: 360px;
  margin: 15px;
  text-align: center;
}

.why__us-image-container {
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
}

.why__us-item-title {
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  font-size: 34px !important;
  font-weight: 400 !important;
  font-family: var(--title-font-family);
}

.why__us p {
  padding: 0 15px;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: var(--why-us-paragraph-color);
  margin: 0;
  word-wrap: break-word;
  font-family: var(--text-font-family);
}

.why__us-image {
  height: 100px;
  width: 100px;
  max-width: 100%;
}

.why__us-item-title {
  font-size: 24px;
}

.why-us-carousel__btn-prev,
.why-us-carousel__btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.why-us-carousel__btn-prev {
  left: 10px;
}

.why-us-carousel__btn-next {
  right: 10px;
}

.why-us-carousel__btn-prev svg,
.why-us-carousel__btn-next svg {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: var(--why-us-paragraph-color);
  stroke-width: 4px;
}

.why-us-carousel__btn-prev:hover svg,
.why-us-carousel__btn-next:hover svg {
  stroke: var(--why-us-paragraph-color);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .why__us {
    position: relative;
  }

  .why-us-carousel__btn-prev,
  .why-us-carousel__btn-next {
    width: 60px;
    height: 60px;
  }

  .why-us-carousel__btn-prev {
    left: 15px;
  }

  .why-us-carousel__btn-next {
    right: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1125px) {
  .why__us {
    position: relative;
  }

  .why-us-carousel__btn-prev,
  .why-us-carousel__btn-next {
    width: 60px;
    height: 60px;
  }

  .why-us-carousel__btn-prev {
    left: 20px;
  }

  .why-us-carousel__btn-next {
    right: 20px;
  }
}

@media (min-width: 1126px) {
  .why__us {
    position: relative;
  }

  .why-us-carousel__btn-prev,
  .why-us-carousel__btn-next {
    width: 60px;
    height: 60px;
  }

  .why-us-carousel__btn-prev {
    left: calc((100% - 1200px) / 2 + 10px);
  }

  .why-us-carousel__btn-next {
    right: calc((100% - 1200px) / 2 + 10px);
  }
}
