.handmade {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--index-handmade-background);
  font-family: var(--title-font-family);
  padding: 80px 24px 45px 24px;
}

.handmade__text {
  max-width: var(--index-block-max-width);
  min-width: var(--index-block-min-width);
  margin-bottom: 42px;
}

.handmade__content {
  width: 100%;
  min-width: var(--index-block-min-width);
  max-width: var(--index-block-max-width);
  .handmade__content-picture {
    align-items: center;
    width: 100%;
    max-width: var(--index-block-max-width);
    .content-picture {
      object-fit: cover;
      object-position: 0px 27.1%;
      width: 100%;
      height: 41.4dvi;
      min-height: 121.83px;
      max-height: 524.04px;
    }
  }
}

.handmade__text-text {
  text-align: center;
  font-size: 38px;
  font-weight: 335;
  letter-spacing: calc(-0.03 * 1em);
  line-height: 1.1;
  color: var(--index-handmade-title);
}

@media (min-width: 768px) {
  .handmade {
    padding-right: 32px;
    padding-left: 32px;
  }
  .handmade__text-text {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  .handmade {
    padding-right: 40px;
    padding-left: 40px;
  }
  .handmade__text-text {
    font-size: 50px;
  }
}
