.blog {
    background-image: url("../img/collections/collections-background.webp");
    background-size: cover;
    background-position: center;
    color: white;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 8git 0px;
}

.blog__container {
    margin:auto;
    padding-top: 40px;
    display: grid;
    gap: 5px;
}

.blog__card {
    width: 370px;
}

.blog__card-text {
    padding-top: 30px;
}

.blog__subtitle {
    padding-top: 25px;
    font-family: Saira, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: calc(-0.034 * 1em);
    line-height: 1.1;
}

.blog__description {
    padding-top: 25px;
    color: #c2c2c2;
    font-size: 18px;
    padding-bottom: 20px;
}

.blog__title {
    font-family: Saira, sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: calc(-0.034 * 1em);
    line-height: 1.1;
    text-align: center;
}

.blog__image {
    height: 327px;
    width: 370px;
}

#man-in-side {
    background-image: url("../img/people/man-in-side.webp");
    background-size: cover;
    background-position: center;
}

#man-in-front {
    background-image: url("../img/people/man-in-front.webp");
    background-size: cover;
    background-position: center;
}

#man-smoking {
    background-image: url("../img/people/man-smoking.webp");
    background-size: cover;
    background-position: center;
}

@media (max-width: 799px) {
    .blog__container {
        grid-template-columns: 1fr;
        width:200px;
    }
}

@media (min-width: 800px) {
    .blog__container {
        grid-template-columns: 1fr 1fr;
        width:800px;
    }
}

@media (min-width: 1200px) {
    .blog__container {
        grid-template-columns: 1fr 1fr 1fr;
        width:1200px;
    }
}