.handmade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 45px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #ffffff;
  font-family: "Saira", sans-serif;
}

.handmade__text {
  max-width: 1170px;
  min-width: 272px;
  margin-bottom: 42px;
}

.handmade__content {
  width: 100%;
  min-width: 272px;
  max-width: 1170px;
  .handmade__content-picture {
    width: 100%;
    max-width: 1170px;
    align-items: center;
    .content-picture {
      object-fit: cover;
      width: 100%;
      height: 41.4dvi;
      min-height: 121.83px;
      max-height: 524.04px;
      object-position: 0px 27.1%;
    }
  }
}

.handmade__text-text {
  font-size: 38px;
  font-weight: 335;
  letter-spacing: calc(-0.03 * 1em);
  line-height: 1.1;
  text-align: center;
  color: #212020;
}

@media (min-width: 768px) {
  .handmade {
    padding-right: 32px;
    padding-left: 32px;
  }
  .handmade__text-text {
    font-size: 44px;
  }
}

@media (min-width: 992px) {
  .handmade {
    padding-right: 40px;
    padding-left: 40px;
  }
  .handmade__text-text {
    font-size: 50px;
  }
}
