.header__hero-content {
    padding: 100px 30px;
    background-color: var(--header-hero-background-color);
}

.header__image-wallet {
    min-width: 320px;
    min-height: 192px;
}

.header__title-text {
    font-family: var(--title-font-family);
    font-size: 58px;
    color: var(--header-hero-text-color);
    line-height: 1;
    margin: 0;
}

.header__paragraph-text {
    font-family: var(--text-font-family);
    font-size: 16px;
    color: var(--header-hero-text-color);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 35px;
}

.header__button-click {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--header-hero-button);
    color: var(--header-hero-button-text);
    text-decoration: none;
    font-family: var(--text-font-family);
    font-size: 15.4px;
    border-radius: 30px;
    transition: background-color .3s ease;
}

.header__button-click:hover {
    background-color: var(--header-hero-button-click);
    text-decoration: none;
}


@media (min-width: 768px) {
    .header__hero {
        background-color: var(--header-hero-background-color);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .header__hero-container {
        z-index: 12;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        z-index: 1;
        margin: 0;
    }

    .header__hero-image {
        content: url('../img/header/header_hero.webp');
        top: 0;
        left: 0;
        object-fit: cover;
        overflow: hidden;
        min-height: 695px;
        object-fit: cover;
        overflow: hidden;
        transform: translateX(-2%);
        z-index: 1;
    }

    .header__hero-content {
        background-color: var(var(--header-hero-background-color));
        height: 695px;
        padding-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 49%;
        z-index: 3;
        transform: translateX(-7%);
    }

    .header__title {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
    }

    .header__title-text {
        font-family: var(--title-font-family);
        font-size: 69px;
        color: var(--header-hero-text-color);
        line-height: 1;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 20px;
    }

    .header__paragraph {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
    }

    .header__paragraph-text {
        font-size: 16px;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 20px;
    }

    .header__button {
        width: 100%;
        padding: 0 20px;
    }
}

@media (min-width: 992px) {
    .header__title-text {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    .header__hero-container {
        max-width: 1200px;
        margin: auto;
        padding: 0;
    }
}