.notebooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/collections/collections-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 105vh;
    color: white;
    padding: 60px 0 20px;
    overflow: hidden;
}

.notebooks__carousel-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    width: 1200px;
    height: 503px;
}

.notebooks__page-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notebooks__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.notebooks__carousel-container {
    display: flex;
    justify-content: space-between;
}

.notebooks__carousel-element {
    width: 30%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.notebooks__element-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.notebooks__element-name {
    margin-top: 15px;
    font-size: 18px;
    color: #555555;
}

.notebooks__element-cost {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.notebooks__element-button {
    margin-top: 20px;
}

.notebooks__button {
    display: inline-block;
    padding: 15px 35px;
    background-color: #d9534f;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    text-decoration: none;
    width: 86, 45px;
    height: 39px;
}

.notebooks__button:hover {
    background-color: #000000;
}