.first__block {
  background-color: var(--our-story-first-block-background);
  padding-top: 90px;
  padding-bottom: 90px;
}
.first__block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.first__block-image img {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.first__block-text p {
  font-size: 15px;
  font-weight: 400;
  font-family: var(--text-font-family);
  color: var(--our-story-first-block-text);
}
.first__block-text {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .first__block-container {
    display: flex;
    flex-direction: row;
  }
  .first__block-image {
    width: 60%;
  }
  .first__block-text {
    width: 40%;
  }
}
