.personal-order {
    position: relative;
    color: var(--notebooks-general-text);
    padding: 100px 0 100px 0;
    z-index: 1;
    margin: 0;
    display: flex;
}

.personal-order__lower-image {
    max-width: 100vw;
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 200vw;
    height: 100%;
    background-image: url('../img/personal-order/background-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    z-index: -17;
    overflow: hidden;
}

.personal-order__lower-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    z-index: 10;
    max-width: 570px;
    max-height: 875px;
    margin-left: 250px;
}

.personal-order__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    min-width: 570px;
    min-height: 875px;
    z-index: 2;
    max-width: 100vw;
    border-radius: 15px;
    max-width: 600px;
    width: calc(100% - 10vw);
    background-color: var(--personal-order-background-form);
}



.personal-order__form-container {
    position: relative;
    max-width: 430px;
    max-height: 774px;
    z-index: 2;

}

.personal-order__title-block {
    text-align: center;
    margin-bottom: 40px;
}

.personal-order__title-text {
    font-size: 50px;
    font-family: var(--title-font-family);
    font-weight: normal;
    margin: 0;
    color: var(--personal-order-title-text);
    padding-top: 20px;
}

.personal-order__text-block {
    text-align: center;
    margin-bottom: 20px;
}

.personal-order__paragraph-text {
    color: var(--personal-order-subtitle-text);
    margin: 0;
    font-size: 15px;
    font-family: var(--text-font-family);
    padding-bottom: 20px;
}

.personal-order__form-container input,
.personal-order__form-container textarea {
    min-width: 370px;
    max-height: 41.8px;
    border: none;
    background-color: var(--personal-order-form-block);
    color: var(--personal-order-form-text);
    border-radius: 25px;
    font-size: 14px;
    font-family: var(--text-font-family);
    outline: none;
    box-sizing: border-box;
    padding: 13px 30px 12px;
    margin-bottom: 12px;
    text-align: start;
}

.personal-order__form-container textarea {
    min-width: 370px;
    min-height: 150px;
    max-width: 450px;
    max-height: 200px;
}

.personal-order__form-container input[type="submit"] {
    background-color: var(--personal-order-form-button-background);
    color: var(--personal-order-form-button-text);
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-family: var(--text-font-family);
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 370px;
    max-height: 39px;
    margin: 55px 0 12px 0;
    padding: 9px 145px 12px;
}

.personal-order__form-container input[type="submit"]:hover {
    background-color: var(--personal-order-form-button-hover);
}