<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="img/header/shortcut-icon-site.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/custom-orders.css" />
    <title>Custom Order | Leather Crafties</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>

    <main>
      <!-- Romaniuk Ivan start-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.custom-orders-banner.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="custom-orders.branding-process.partial.html"
      ></section>
      <!-- Romaniuk Ivan end-->

      <!-- Mykola start -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="custom-orders.gallery.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.shopping-cart.partial.html"
      ></section>

      <!-- Mykola end -->
      <!-- sasha-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="custom-orders.custom-orders.partial.html"
      ></section>
      <!-- sasha-->
    </main>

    <footer>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></div>
    </footer>
    <script src="./javascript/custom-orders.js"></script>
  </body>
</html>
