<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="color-scheme" content="light dark">
  <title>Leather Crafties</title>
  <link rel="shortcut icon" href="img/header/shortcut-icon-site.png" type="image/x-icon" />
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <header class="header">
    <div class="header__background">
      <div class="header__container container">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
      </div>
    </div>
    <!-- Petro -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></section>
    <!-- Petro -->
  </header>
  <main>
    <!-- Mykola start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.collections.partial.html"></section>
    <!-- Mykola end -->

    <!--Bohuslav start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.products.partial.html"></section>
    <!--Bohuslav end-->

    <!-- Sasha start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.gift-packs.partial.html"></section>
    <!-- Sasha end-->

    <!-- Romaniuk Svan start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.custom-orders-banner.partial.html">
    </section>
    <!-- Romaniuk Svan end -->

    <!--Bohuslav start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.new-arrivals.partial.html"></section>
    <!--Bohuslav end-->

    <!--Denys start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.request-quote.partial.html"></section>
    <!--Denys end-->

    <!-- Vlad start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.great-products.partial.html"></section>
    <!-- Vlad end -->

    <!-- Oleksii start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.why-us.partial.html"></section>
    <!-- Oleksii end -->

    <!-- Vasyl start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.handmade.partial.html"></section>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.instagram.partial.html"></section>
    <!-- Vasyl end -->

    <!-- Taras start -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.stand-with-ukraine.partial.html">
    </section>
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.awards.partial.html"></section>
    <!-- Taras end -->

    <!-- Valeriia start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.blog.partial.html"></section>
    <!-- Valeriia end -->

    <!-- Vlad start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.subscribe.partial.html"></section>
    <!-- Vlad end -->
     
    <!--Mykola start-->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.shopping-cart.partial.html"></section>
    <!-- Mykola end -->
  </main>
  <footer>
    <!-- Oleksii full footer -->
    <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="./javascript/index.js"></script>
</body>

</html>